<div class="container card_container" fxLayout="row"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxLayout="column" fxLayout.sm="row" fxFlex="33%">
          <mat-card class="elevated">
            <div fxLayout="row">
              <div fxLayout="column" fxLayout.sm="row" fxFlex="12%">
                  <a href= "interest_code"><mat-icon style="font-size:32px">code</mat-icon></a>
              </div>
              <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
                  <h3>CODE</h3>
              </div>
            </div>
            <p>Follow The Development Of This Site As I Blog My Coding Blunders!</p>
          </mat-card>
        </div>
        <div fxLayout="column" fxFlex="33%">
          <mat-card class="elevated">
              <div fxLayout="row">
                <div fxLayout="column" fxLayout.sm="row" fxFlex="12%">
                    <a href="interest_music"><mat-icon style="font-size:32px">library_music_outline</mat-icon></a>
                </div>
                <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
                    <h3>MUSIC</h3>
                </div>
              </div>
              <p>Yeah I Play Guitar. Anyway, Here's Wonderwall.</p>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="33%">
            <mat-card class="elevated">
                <div fxLayout="row">
                  <div fxLayout="column" fxLayout.sm="row" fxFlex="12%">
                      <a href="interest_community"><mat-icon style="font-size:32px">group_outline</mat-icon></a>
                  </div>
                  <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
                      <h3>COMMUNITY</h3>
                      
                  </div>
                </div>
                <p>I Love Humans. Sometimes I Even Interact With Them!</p>
              </mat-card>
        </div>
    </div>