<div style="margin: 2vh;" class="height_inherit">
  <mat-tab-group [disableRipple]="false" class="height_inherit">
      <mat-tab label="DEVELOPMENT" class="height_inherit">
        <div fxLayout="row" fxFlex="100%" class="height_inherit">
          <div fxLayout="column" fxFlex="66%">
            <app-article-list></app-article-list>
          </div>
          <div fxLayout="column" fxFlex="auto">
            <app-timeline-list class="height_full"></app-timeline-list>
          </div>
        </div>
      </mat-tab>
  </mat-tab-group>
</div>  