@import '../../styles.scss';

mat-divider {
    width: 100%;
    margin: 0px 20px 20px 0px;
}

.colour_secondary {
    color: $accent;
}

mat-expansion-panel {
    margin: 0px 5px 5px 0px;
}

.mat-tab-labels {
    display: block !important;
}