@import '../styles.scss';

a {
    color: $accent !important;
    text-decoration: none !important;
    :hover {
        color: $accent-darker;
        text-decoration: none !important;
    }
}

.colour_secondary {
    color: $accent;
}

.colour_primary {
    color: $primary;
}

.colour_primary_darker {
    color: $primary-darker-intense
}

.height_inherit {
    height: inherit;
}

.height_full {
    height: 100%;
}

.width_full {
    width: 100%;
}