@import '../styles.scss';

a {
    color: $accent;
    :hover {
        color: $accent-darker;
    }
    :focus {
        color: $accent-darker;
    }
    :link {
        color: $accent-darker;
    }
}

.colour_secondary {
    color: $accent;
}

.colour_primary {
    color: $primary;
}

.colour_primary_darker {
    color: $primary-darker-intense
}