<!-- content-->
<div class="container_full_height">
    <!-- carousel -->
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="100%">
            <div id="demo" class="carousel slide" data-ride="carousel">
      
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="carousel-caption d-md-block">
                    </div>
                    <img src="../assets/Guitar.jpg" alt="Music" >
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/coding.jpg" alt="Code">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/Community1.jpg" alt="Community">
                  </div>
                  <mat-card [class.mat-elevation-z16]="true" class="avatar_card">
                      <!--TODO: add this text to the image itself-->
                      <mat-card-title-group>
                          <!-- <mat-card-title>Hi, I'm Nathan</mat-card-title> -->
                      </mat-card-title-group>
                  </mat-card>
                  <app-interest-cards></app-interest-cards>
                </div>
              
                <!-- <a class="carousel-control carousel-control-prev" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control carousel-control-next" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a> -->
                  
            </div>
        </div>
    </div>
    <mat-divider style="margin: 2vh;"></mat-divider>
    <div style="margin: 2vh" fxLayout="row" fxLayoutGap="3vh">
      <div fxLayout="column" fxFlex="50%" fxLayoutGap="2vh">
        <mat-card class="content-card">
          <mat-expansion-panel name="Gists in Angular">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5 class="colour_secondary">I'm a sOfTWaRe DeVelOpeR</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>From operating systems work in C to This janky website - I love it all!</p>
          </mat-expansion-panel>  
          <mat-expansion-panel name="Gists in Angular">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5 class="colour_secondary">I'm like ... a musician and a poet sooooo </h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Look, I was raised on rom coms and Folk like Simon and Garfunkel.
                  This meme worthy stereotypical University persona was determined at birth.
              </p>
          </mat-expansion-panel>  
          <mat-expansion-panel name="Gists in Angular">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5 class="colour_secondary">Stealth ... Giraffe???</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p> Dear reader, <br/><br/>
                Consider this ... a yellow zebra with a ladder for a neck. <br/>
                Now tell me you haven't reconsidered your favourite animal. <br/>
                I rest my case. <br/> <br/>
                With love, <br/>
                The StealthGiraffe
              </p>
          </mat-expansion-panel>  
          <mat-expansion-panel name="Gists in Angular">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5 class="colour_secondary">I'm a Mental Health Activist</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Now this I won't meme. Mental health is an incredibly important and defining part
                  of the lives of all my loved ones as well as myself. Check out Jack.Org if you want to find out more.
              </p>
          </mat-expansion-panel>  
        </mat-card>
      </div>
      <div fxLayout="column" fxFlex="50%">
       <mat-card>
          <h4>Want to Learn?</h4>
          <p>Go to the code section where I blog this nonsensical project!</p>
          <br/>
          <h4>Want to be impressed by my talented musical friends?</h4>
          <p>Check out the music section and all its audible goodness.</p>
          <br/>
          <h4>Want to find out what I do outside of coding?</h4>
          <p>Check out the community section for a look into extra-curricular life at the University of Guelph</p>
        </mat-card>
      </div>
    </div>
</div>
