<!-- content-->
<div class="container">
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxLayout="column" fxLayout.sm="row" fxFlex="33%" class="eq-height">
          <mat-card>
            <div fxLayout="row">
              <div fxLayout="column" fxLayout.sm="row" fxFlex="12%">
                  <a href= "interest_code"><mat-icon style="font-size:32px">code</mat-icon></a>
              </div>
              <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
                  <h3>CODE</h3>
              </div>
            </div>
            <p>I've been known to do a side project or two. Take a look.</p>
          </mat-card>
        </div>
        <div fxLayout="column" fxFlex="33%" class="eq-height">
          <mat-card>
              <div fxLayout="row">
                <div fxLayout="column" fxLayout.sm="row" fxFlex="12%">
                    <a href="interest_music"><mat-icon style="font-size:32px">library_music_outline</mat-icon></a>
                </div>
                <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
                    <h3>MUSIC</h3>
                </div>
              </div>
              <p>Yeah I play guitar. Anyway here's wonderwall.</p>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="33%">
            <mat-card>
                <div fxLayout="row">
                  <div fxLayout="column" fxLayout.sm="row" fxFlex="12%">
                      <a href="interest_community"><mat-icon style="font-size:32px">group_outline</mat-icon></a>
                  </div>
                  <div fxLayout="column" fxLayout.sm="row" fxFlex="88%">
                      <h3>COMMUNITY</h3>
                  </div>
                </div>
                <p>I love humans. I love them so much that sometimes I interact with them.</p>
              </mat-card>
        </div>
    </div>
  </div>
  <br/>
<!-- carousel -->
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>