<div class="float_container">
    <mat-card style="background-color: #12151a;">
        <mat-card-content>
            Nathan Laundry
                <div class="float_right">
                    <a href="https://gitlab.com/StealthGiraffe/personalwebsite">
                        <!--TODO: add the source listed below in the about page?-->
                        <img src="https://img.icons8.com/color/24/000000/gitlab.png">
                        <label>My Gitlab</label>
                    </a>
                    <!-- <button type="button" mat-icon-button class="float_right">
                            <a href="https://icons8.com/icon/34886/gitlab">Gitlab icon by Icons8</a>
                    </button> -->
                </div>
        </mat-card-content>
    </mat-card>
</div>
